<ion-header>
  <ion-toolbar color="warning">
    <ion-button (click)="loadMap()" shape="round" color="dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
    </ion-button>
    <ion-title slot="end">Google Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
<!--   <agm-map [latitude]="location.latitude" [longitude]="location.longitude" [mapTypeId]="location.mapType"></agm-map> -->
<div class="map-wrapper">
  <div id="map_center">
    <img src="../../assets/icon/iconfinder_map-marker_285659.png" />
  </div>
  <div #map id="map"></div>
</div>
<form (ngSubmit)="processForm($event)">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input placeholder="Address Line 1"></ion-input>
      <ion-input placeholder="Address Line 2"></ion-input>
      <ion-input placeholder="City"></ion-input>
      <ion-input placeholder="State"></ion-input>
      <ion-input placeholder="Zip Code"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <h1 style="text-align: center;">Bang Ke Chi Tiet</h1>
  <ion-list>
    <ion-list-header>F&B</ion-list-header>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label slot="end">
        <ion-grid>
          <ion-row>
            <ion-col>Quantity</ion-col>
            <ion-col>Price</ion-col>
            <ion-col>Total</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <div *ngFor="let d of data">
      <ion-item >
        <ion-label>{{d.name}}</ion-label>
        <ion-label slot="end">
          <ion-grid>
            <ion-row>
              <ion-col>{{d.quantity}}</ion-col>
              <ion-col>{{d.price}}</ion-col>
              <ion-col>{{d.quantity * d.price}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="purchase()" class="ion-no-margin">Purchase</ion-button>
  </div>
</form>

 <!--  <ion-list>
    <ion-list-header>Drink</ion-list-header>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label slot="end">
        <ion-grid>
          <ion-row>
            <ion-col>Quantity</ion-col>
            <ion-col>Price</ion-col>
            <ion-col>Total</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <div *ngFor="let d of data">
      <ion-item *ngIf="d.catalog === drink">
        <ion-label>{{d.name}}</ion-label>
        <ion-label slot="end">
          <ion-grid>
            <ion-row>
              <ion-col>{{d.quantity}}</ion-col>
              <ion-col>{{d.price}}</ion-col>
              <ion-col>{{d.quantity * d.price}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </div>
  </ion-list> -->
</ion-content>
